.superInput {
    height: 30px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #66727d;
    background-color: #17212b;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.errorInput {
    height: 30px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #66727d;
    background-color: #17212b;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 3px solid darkred;
}

.error {
    color: darkred;
}
